:root {
    /*Color Principal*/

    --main-color: #51a72d;
    --main-color-hoover: #c5ebaa;

    /*Color Secundario*/
    --sec-color: #ff9843;
    --sec-color-hoover: #f2c18d;


    /*Color Background*/
    --background-color: #fbf6ee;
    --dark-background-color: #114232;

    /*Shadow*/
    --shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.7);

    /*Scrollbar*/
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-weight: bold;
}

h1 {
    font-size: 40px;
    
}

button {
    width: 120px;
    background-color: var(--main-color);
    border-radius: 50px;
    border-style: none;
    padding: 10px;
    box-shadow: var(--shadow);

    color: var(--background-color);
    text-shadow: var(--shadow);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 1s ease;
}

button:hover {
    background-color: var(--main-color-hoover);
}

@media (max-width: 450px) {

    h1 {
        font-size: 30px;
    }
}


/*NAVBAR*/

nav {
    width: 100vw;
    height: 50px;
    display: flex;
    position: fixed;
    color: var(--background-color);
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(var(--shadow));
    z-index: 1000;
}

nav.scrolling {
    background-color: var(--main-color);
    transition: 0.5s ease;
}

/*Navbar Logo*/
nav .navbar-left {
    margin-left: 35px;
    width: 15%;
    height: 100%;
    text-shadow: var(--shadow);
    justify-content: center;
    align-items: center;
}

nav .navbar-left a img {
    padding: 10px 0 0 0;
    height: 70%;
    width: auto;
    filter: drop-shadow(var(--shadow));
}

/*Navbar Links*/
nav .navbar-middle {
    width: auto;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
}

nav .navbar-middle a {
    padding: 10px;
    color: var(--background-color);
    text-shadow: var(--shadow);
    text-decoration: none;
    transition: 1s ease;
    font-size: 20px;
}

nav .navbar-middle a:hover {
    transform: scale(1.1);
}

/*Navbar Icons*/
nav .navbar-right {
    width: 20%;
    text-shadow: var(--shadow);
}

nav .navbar-right a {
    padding: 10px;
    font-size: 25px;
    color: var(--background-color);
    text-decoration: none;
    transition: 1s ease;
    font-size: 23px;
}

nav .navbar-right a:hover {
    color: var(--sec-color-hoover);
}

@media (min-width: 451px) and (max-width: 768px) {
    nav {
        height: auto;
        flex-direction: column;
    }

    nav .navbar-left {
        width: auto;
        margin: 15px;
    }

    nav .navbar-left a img {
        padding: 0;
        height: 40px;
    }

    nav .navbar-middle {
        margin: 15px;
    }

    nav .navbar-middle a {
        padding: 10px 15px;
        font-size: 20px;
    }

    nav .navbar-right {
        width: auto;
        margin: 15px;
    }

    nav .navbar-right a {
        padding: 10px 15px;
        font-size: 20px;
    }
}


@media (max-width: 450px) {
    nav {
        height: auto;
        flex-direction: column;
    }

    nav .navbar-left {
        width: auto;
        margin: 15px 0;
    }

    nav .navbar-left a img {
        padding: 0;
        height: 40px;
    }

    nav .navbar-middle {
        
        margin: 15px;
    }

    nav .navbar-middle a {
        padding: 5px 15px;
        font-size: 15px;
    }

    nav .navbar-right {
        width: auto;
        margin: 15px;
    }

    nav .navbar-right a {
        padding: 8px 15px;
        font-size: 20px;
    }
}


/*INDEX*/

/*Header*/

.header-index{
    height: 100vh;
    background-image: url("./assets/img/header.png");
    
    justify-content: center;
    display: flex;
    flex-direction: column;

    /*Text*/
    color: var(--background-color);
    text-shadow: var(--shadow);
}

.header-index h1{
    margin-left: 35px;
    font-size: 50px;
}

.header-index p{
    margin-left: 35px;
    margin-right: 700px;
    padding: 40px 0;
    font-size: 20px;
}

.header-index button{
    margin-left: 35px;
}

@media (min-width: 451px) and (max-width: 768px) {
    .header-index {
        padding: 50px;
        text-align: center;
    }

    .header-index h1 {
        margin-left: 0;
        font-size: 40px;
    }

    .header-index p {
        margin: 0;
        padding: 20px 10px;
        font-size: 20px;
    }

    .header-index button {
        margin: 20px auto;
    }
}


@media (max-width: 450px) {
    .header-index {
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .header-index h1 {
        font-size: 40px;
    }

    .header-index p {
        margin: 0;
        padding: 20px 0;
        font-size: 16px;
    }

    .header-index button {
        margin-left: 0;
    }
}



/*Section About*/

.article-index{
    margin: 35px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-index .left p{
    padding: 30px 0;
}

.article-index img{
    height: 450px;
    width: 500px;
    margin: 35px;
    border-radius: 25px;
    box-shadow: var(--shadow);
}

@media (min-width: 451px) and (max-width: 768px) {
    .article-index {
        margin: 50px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .article-index .left {
        text-align: center;
    }

    .article-index .left h1,
    .article-index .left button {
        margin: 20px auto;
    }

    .article-index .left p {
        padding: 20px 0;
        text-align: center;
    }

    .article-index img {
        height: auto;
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
        border-radius: 15px;
        box-shadow: var(--shadow);
    }
}

@media (max-width: 450px) {
    .article-index {
        margin: 100px 0;
        height: auto;
        
    }

    .article-index img {
        display: none;
    }

    .article-index .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .article-index .left p {
        padding: 30px;
    }
}



/*Section Star Products*/

.star-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.star-products .cards {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.star-products .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 35px;
    margin: 0 200px;
}

.star-products .cards .card img {
    width: 250px;
    height: 250px;
    border-radius: 25%;
    box-shadow: var(--shadow);
}

.star-products .cards .card h2 {
    margin-top: 15px;
}

.star-products .cards .card button {
    width: 150px;
    margin-top: 15px;
}

@media (min-width: 451px) and (max-width: 768px) {
    .star-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .star-products .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }

    .star-products .cards .card {
        flex: 1 1 250px;
        max-width: 200px;
        margin: 40px;
    }

    .star-products .cards .card img {
        width: 100%;
        height: auto;
        border-radius: 25%;
        box-shadow: var(--shadow);
    }

    .star-products .cards .card button {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 450px) {
    .star-products {
        margin-bottom: 100px;
    }

    .star-products .cards {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .star-products .cards .card {
        max-width: 50%;
        margin: 0 20px;
        margin-bottom: 50px;
    }

    .star-products .cards .card img {
        width: 75%;
        height: auto;
    }

    .star-products .cards .card button {
        width: 100%;
        margin-top: 20px;
    }
}



/*FOOTER*/

footer {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    background-image: url('./assets/img/header.png');
    color: var(--background-color);
    text-shadow: var(--shadow);
}

footer .footer-left {
    height: 225px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

footer .footer-left .social {
    display: flex;
    gap: 40px;
}

footer .footer-left .social a {
    font-size: 45px;
    text-shadow: var(--shadow);
    color: var(--background-color);
    transition: 1s;
}

footer .footer-left .social a:hover {
    transform: scale(1.2);
}

@media (min-width: 451px) and (max-width: 768px) {
    footer {
        padding: 40px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    footer iframe {
        display: none;
    }

    footer .footer-left {
        height: auto;
    }

    footer .footer-left .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    footer .footer-left .social a {
        font-size: 30px;
    }
}


@media (max-width: 450px) {
    footer {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        background-color: var(--main-color);
        color: var(--background-color);
        text-shadow: var(--shadow);
    }

    footer iframe {
        display: none;
    }

    footer .footer-left {
        align-items: center;
        list-style: none;
    }
}
